* {
    padding: 0;
    margin: 0;
}
body, div {
    background-color: rgb(80, 80, 80);
}
h1 {
    text-align: center;
    color: aquamarine;
    font-family: quantum;
}

h2 {
    height: 25px;
    text-align: center;
    color: lightsalmon;
    font-family: quantum;
    margin: 1em 0;
}

button {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    padding: 1em 2em;
}

a {
    text-decoration: inherit;
    color: inherit;
}

button {
    background-color: aquamarine;
    padding: 1em;
    width: 5em;
    border: 1px solid black;
    border-radius: 10%;
}
.flex {
    display: flex;
}

.center {
    justify-content: center;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 350px;
    height: 350px;
    border: .5px solid black;
}

.parent>* {
    border: .5px solid black;
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightseagreen;
    font-size: 6em;
    font-family: Quantum;
}
.score {
    height: 40px;
    width: 5%;
}
.space {
    padding: 0 1em;
}